
body {
    background-color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
}


.playerinfo {
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-align: center;
}


.miketrout {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accolades {
    text-align: left;
    margin: auto;
}

.navbar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    box-shadow: 10px;
    background-color: white;
}